* {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}
.box{
    height: 100px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(6,150px);
    gap: 10px;
}
/* sdfew */
.box div{
    background: #3bbced;
    padding: 30px;
}
.box div:nth-child(even){
    background: #777;
    display: flex;
    flex-direction: c;
}

/*          xcvdsxcvszxcxcvdsxcvxcvds   dgsdfgredfgedfgedfgdfgedfgedfgdfgecvbfdcvbddfg */
